/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --accent-color: #c8f10f;
    --background-color: #29292b;
    --element-color: #222222;
    --font-color-primary: #ebebeb;
    --font-color-secondary: #4d4d4d;
    --font-color-deselected: #747474;
    --font-color-wrong: #b80f0f;
   
}

/* Global Styles */
body, html {
    font-family: 'Leto', sans-serif;
    color: var(--font-color-primary);
    background-color: var(--background-color);

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--element-color);
    color: var(--font-color-deselected);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:active {
    transform: scale(1.05);
    color: var(--font-color-primary);
}

.selected {
    color: var(--accent-color) !important;
}

.hidden {
    display: none !important;
}

.smallprint {
    font-size: 0.8rem;
    color: var(--font-color-deselected);
    letter-spacing: 1px;
}

/* Header */
header {
    width: 90%;
    max-width: 1000px;
    height: 100px;
    background-color: var(--background-color);
   
}

/* Main */
main {
    margin-top: 10px;
    width: 92%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#functions-bar {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 2px 24px;
    border-radius: 14px;

    background-color: var(--element-color);
}

#functions-bar h2 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color-deselected);
    text-transform: lowercase;
    transition: all 0.2s ease-in-out;
}

#functions-bar h2:hover {
    cursor: pointer;
    color: var(--font-color-primary);
}

#functions-bar select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color-deselected);
    background-color: var(--element-color);
    border: none;
    border-radius: 4px;
    padding: 4px 4px;
    transition: all 0.2s ease-in-out;
}

#functions-bar select:hover {
    cursor: pointer;
    color: var(--font-color-primary);
}

#functions-bar select:focus {
    outline: none;
}


/* Timer */

#timer {
    margin-top: 140px;
    color: var(--font-color-secondary);
    font-size: 1.4rem;
    font-weight: 400;
}

#timer .number {
    color: var(--font-color-secondary);
    font-size: 2.5rem;
    font-weight: 600;
}

/* Results */

#results-area {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}


/* Typing Area */

#type-area {
    width: 80vw;
    max-width: 1100px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.14rem;
    position: relative;
}

#type-area .placeholder {
    position: absolute;
    color: var(--font-color-secondary);
    z-index: 1;
}

#type-area .user-text {
    z-index: 4;
    position: absolute;
    transition: all 0.09s ease-in-out;
}

#wpm-display {
    margin-top: 20px;
    font-size: 1.5rem;
}

.user-text {
    color: var(--font-color-primary);
}

/* Typing Indicator */
#type-area .user-text::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: .95em;
    position:relative;
    z-index: 5;
    top: 3px;
    background-color: var(--accent-color);
    animation: cursor-blink .5s step-end infinite alternate;
}

.user-text.wrong-input {
    color: var(--font-color-wrong);
}

/* Instructions */

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--element-color);
    margin: auto;
    padding: 10px 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.modal-content p {
    font-family: 'montserrat', sans-serif;
    font-size: 0.95rem;
    text-align: center;
    margin: 1px 0;
}

.modal-content li {
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--font-color-deselected)
}

.close-button {
    color: var(--font-color-deselected);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

.modal.show {
    display: flex !important;
}

/* Footer */
footer {
    position: fixed;
    bottom: 20px;
    color: var(--font-color-secondary);
    width: 100%;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    word-spacing: 2px;
}

footer .help-tips {
    width: 85%;
    max-width: 900px;
    letter-spacing: 1px;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    justify-content: space-around
}


footer .caps-alert.caps-enabled {
    background-color: var(--accent-color);
}

.key-styling {
    padding: 2.5px 5.5px;
    color: var(--background-color);
    background-color: var(--font-color-secondary);
    border-radius: 5px;
}

/* Blur Filter */
body.modal-open {
    overflow: hidden; /* Prevent scrolling */
}

body.modal-open main,
body.modal-open header,
body.modal-open footer {
    filter: blur(5px); /* Apply blur effect */
    transition: filter 0.1s ease-out;
}

/* Animation */

@keyframes cursor-blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */