/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: white;
    --accent-color: #f1c40f;
    --background-color: #323335;
    --font-color-primary: #c4c1c1;
    --font-color-secondary: #fff;
   
}

/* Global Styles */
body {
    font-family: 'Leto', sans-serif;
    color: var(--font-color-primary);
    background-color: var(--background-color);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    width: 90%;
    height: 100px;
    background-color: var(--background-color);
   
}

/* Main */

#functions-bar {

}

/* Footer */

/* Media Queries */